@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder {
  color: hotpink;
  opacity: 1;
  font-weight: normal;
}

:-ms-input-placeholder {
 color: hotpink;
 font-weight: normal;
}

::-ms-input-placeholder {
 color: hotpink;
 font-weight: normal;
}

h1, h2, h3 {
  color: hotpink;
  font-weight: normal;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
}

header h1 {
  color: black;
  margin: 0;
  padding-top: .5em;
  padding-bottom: .5em;
}

.login {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login div, .login a {
  padding-left: 1em;
}

nav {
  background-color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

nav a {
  padding-left: 1em;
}

main {
  margin: 0 auto;
  width: 100%;
  flex: 1 0 auto;
  min-height: auto;
  margin-left: 1em;
  margin-right: 1em;
}

.home {
  margin: 0 auto;
  width: 100%;
  flex: 1 0 auto;
  min-height: auto;
  padding: 0;
}

.home h1 {
  margin-left: .5em;
}

.profile-page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
  margin: 0 auto;
  margin-top: 1em;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 1em;
}

.images {
  margin: 0 auto;
  border-radius: 10px;
  text-align: left;
  display: flex;
  align-items: center;
}

.image {
  height: 400px;
  width: 600px;
  object-fit: cover;
  margin: 1em;
}

.images button {
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
}

.comments {
  margin: 0 auto;
  margin-left: 3.5em;
  text-align: left;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: turquoise;
  transition: 0.3s;
}

a:hover,
a:focus {
  color: hotpink;
}

.form-container {
  margin: 0 auto;
  width: 25%;
  text-align: center;
}

.search-form {
  width: 300px;
  display: flex;
}

.search-form input,
.search-form button {
  margin: .2em;
}

input {
  width: 100%;
  outline: none;
  border: none;
  background-color: whitesmoke;
  border-radius: 6px;
  padding: .5em;
  margin-bottom: .5em;
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  font-weight: bold;
  transition: 0.3s;
}

input:hover,
input:focus {
  color: hotpink;
}

button {
  background-color: turquoise;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  padding: .7em 1.2em;
  margin-bottom: .5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  transition: 0.3s;
  color: white;
  text-transform: uppercase;
}

button:hover, 
button:focus {
  background-color: hotpink;
}

.error {
  color: red;
  font-size: .8rem;
  padding-bottom: 1em;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
}

.slideshow-slider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 320px;
  width: 100%;
}

.slideshow-dots {
  text-align: center;
}

.slideshow-dot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: lightgray;
}

.slideshow-dot.active {
  background-color: hotpink;
}

footer {
  width: 100%;
  height: 200px;
  background-color: lightcyan;
  font-weight: normal;
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4em;
  border-top: 1px solid whitesmoke;
}